
  
  
.navbar {
    background-color: rgb(26, 107, 83);
  }

.banner{
    background-image: url('pizza-article.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.container-fluid{
    justify-content: 
    
}



